.carre {
    height: 200px;
    width: 200px;
    background-color: rgb(94, 62, 136);
    margin: 10px;
}

.carree {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;      
}

/* .carre:nth-child(3), .carre:nth-child(12){
    background-color: rgb(229, 215, 16);
} */

.yellow{
    background-color: rgb(229, 215, 16);
}

